# Ignore venv
venv/

# Ignore pycache
__pycache__/

# Ignore js dependencies
node_modules/

# Ignore VSCode local settings
.vscode/

# Ignore build & dist
build/
dist/

# Ignore Data files
*.csv
*.xlsx

# Pyinstaller side products
*.spec
